@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --lightred: #ff4782;
}

body {
  font-family: 'PT Serif', serif;
  background-color: #F0F8F0;
}

/* Colores */
.lightred{
  color: var(--lightred);
}

/* Logo */
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Hero Section */

.hero__title{
  font-size: 5rem;
}

.navbar-nav .nav-link:hover {
  color:var(--lightred); /* Cambia 'red' por el código de color específico que desees */
}

/* Form */

.bg__form{
  background-color: #dbebdc;
}
